@model Tatilll.Models.Sinifler.Yorumlar
@{
    ViewBag.Title = "YorumGetirr";
    Layout = "~/Views/_AdminLayout.cshtml";
}
><h2>  Yorumu Guncelle </h2>
<br />
@using (Html.BeginForm("YorumGuncelle", "Admin", FormMethod.Post))
{
    @Html.LabelFor(o => o.ID)
    @Html.TextBoxFor(o => o.ID, new { @class = "form-control", @readonly = "readonly" })
    <br />
    @Html.LabelFor(o => o.KullaniciAdi)
    @Html.TextBoxFor(o => o.KullaniciAdi, new { @class = "form-control" })
    <br />
    @Html.LabelFor(o => o.Mail)
    @Html.TextBoxFor(o => o.Mail, new { @class = "form-control" })
    <br />
    @Html.LabelFor(o => o.Yorum)
    @Html.TextAreaFor(o => o.Yorum, 10, 1, new { @class = "form-control" })
    <br />

    <button class="btn btn-outline-warning"> Yorumu Guncelle</button>
     


}

